/* Card styling */

.card {
    background-color: #ffffff;
    color: black;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70vw;
    min-height: 9vh;
    border-radius: 0.5rem;
}

.cardHeader {
    background-color: #ffffff;
    color: black;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    min-height: 15vh;
}

.cardFooter {
    /* background-color: #ffffff;
    color: black;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 100%;
    min-height: 9vh; */
    min-width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
/* 
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 100%;
    min-height: 9vh;
}

.tableRowHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 9vh;
    gap: 8vw;
    border: 1px solid black;
  
}

.tableRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
    min-height: 9vh;
    gap: 8vw;
    margin-left: 4vw;
    
}

.tableColumn {
    min-height: 9vh;
    
} */



/* Doc Info Div */

.docInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 0.5rem;
    margin-left: 0.5rem;
}

.docName {
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.docSize {
    font-size: 0.9rem;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

/* Action Buttons */

.actionButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 0.5rem;
}

.actionButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.4rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}